body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

/* <!-- NAVIGATION BAR: --> */
.main-menu {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 50px;
  margin: 0;
  justify-content: center;
}

.logo {
  width: 10px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; 
  margin: 0; 
}

 .main-menu li a {
  color: #cc9900;
  font-size: 20px;
  text-decoration: none;
  padding: 0px 80px;
} 

/* <!-- HEADER: --> */

.title {
    min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about {
  background-color: #cc9900;
 
  padding: 30px;
  font-size: 80px;
  font-weight: bold;
  ;
}
.teste h2{
  margin: 30px 50px;
    padding: 5px 10px;
    justify-content: center;
  } 

/* main 1*/

 .main-about {
  
  min-height: 10vh;
}

.presentation {
  display: flex;
 
}

.content {
  
}
.image-me {
  border: 8px solid #f5eed8;
  width: 450px;
  margin-left: 180px;
}

.image-her {
  margin-top: -45px;
  margin-left: 580px;
  margin-bottom: 200px;
}

.image-her img {
  border: 8px solid #f5eed8;
  width: 600px;
}

.about-content-3 {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}

.about-content-3-h2 {
 
  font-size: 18px;
  font-weight: bold;
  margin-left: 40px;
}

.about-content-3-h3 {
 ;
  font-size: 80px;
  margin-left: 40px;
}

.about-content-3-h4 {
 
  color: #cc9900;
  font-size: 80px;
  margin-left: 40px;
}

.about-content-3-1 {
  display: flex;
  margin-left: -180px;
  justify-content: center;
}

.about-content-3 {
  display: grid;
  justify-content: space-evenly;
    font-size: 18px;
}

.about-content-3 p {
  margin-left: 40px;
} 

/* main 2 */

.main-about-2 {
  display: flex;
  margin-left: 260px;
  margin-bottom: 100px;
  padding: 50px;
}

.content-3 {
  font-weight: bold;
  font-size: 12px;
}

.content-3 h3,
h4 {
  font-size: 40px;
}

.content-3 h4 {
  color: #cc9900;
  margin-bottom: 29px;
}

.content-4 {
  display: flex;
}

.content-4-1 {
  display: grid;
  padding: 20px;
}
.content-4-2 {
  width: 220px;
  margin-left: 80px;
}

.content-4-2 h5 {
  font-weight: bold;
  font-size: 20px;
  margin: 0px 20px 20px 20px;
}

.content-4-2 p {
  font-size: 14px;
  margin: 0px 20px 20px 20px;
}

.content-5{
  padding: 0px 50px;
}

.content-5 img {
  border: 8px solid #f5eed8;
  width: 400px;
}

/* <!-- social networks --> */

.main-contact {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-contact ul li a {
  border: 1px solid #cc9900;
  background-color: white;
  border-radius: 40%;
  padding: 20px;
  margin: 50px;
  font-size: 30px;
  color: #cc9900;
}

.main-contact ul li a:hover {
  color: white;
  background-color: #cc9900;
}

