.paragraph-1-section {
  color: rgb(11, 114, 114);
  font-weight: 16;
}
.paragraph-2-section {
  color: rgb(186, 11, 11);
  font-weight: 14;
}
.paragraph-3-section {
  color: rgb(24, 12, 159);
  font-weight: 12;
}
