body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

/* <!-- NAVIGATION BAR: --> */
.main-menu {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 50px;
  margin: 0;
  justify-content: center;
}

.logo {
  width: 10px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}

.main-menu li a {
  color: #cc9900;
  font-size: 20px;
  text-decoration: none;
  padding: 0px 80px;
}

/* <!-- HEADER: --> */



.presentation {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-1 {
  min-height: 140vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box-2-content {
  margin: 10px 50px;
  padding: 5px 10px;
  justify-content: center;
}

.box-2-content h3 {
  display: inline;
}

.title-1 {
  font-size: 80px;
  font-weight: bold;
  margin: 20px 20px;
  padding: 10px;
}
.title-2 h3 {
  font-size: 75px;
  font-weight: bold;
  text-align: justify;
}

.title-2-1 {
  color: #cc9900;

  margin: 20px 30px;
}

.title-2-2 {
  margin: 20px 20px;
}
.presentation p {
  font-size: 15px;
  text-align: justify;
  margin: 2px;
  padding: 5px 20px;
}

/* <!-- Main body --> */
.main-work {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-3 {
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box-4-content {
  width: 800px;
  margin: 10px 50px;
  padding: 5px 10px;
  justify-content: center;
}

.box-4-content h3 {
  display: inline;
}

.title-3 {
  font-size: 80px;
  font-weight: bold;
  margin: 20px 20px;
  padding: 10px;
}
.title-4 h3 {
  font-size: 75px;
  font-weight: bold;
  text-align: justify;
  color: #cc9900;
  margin: 20px 30px;
}

.paragraph p {
  width: 800px;
  font-size: 15px;
  text-align: justify;
  width: 800px;
  margin: 10px 50px;
  padding: 5px 10px;
  justify-content: center;
}

/* <!-- social networks --> */

.main-contact {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-contact ul li a {
  border: 1px solid #cc9900;
  background-color: white;
  border-radius: 40%;
  padding: 20px;
  margin: 50px;
  font-size: 30px;
  color: #cc9900;
}

.main-contact ul li a:hover {
  color: white;
  background-color: #cc9900;
}

